version: '3.8'

services:
    web-security:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: web-security
        ports:
            - "3001:3001"
        env_file:
            - .env
        environment:
            - NODE_ENV=production
        restart: unless-stopped